# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Streamlit cache
.streamlit/

# IDE & editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Cache directories
cache/
